<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 4</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="up">
        <header>
          <nav>
            <ul>
              <li><a id="main">Main page</a></li>
              <li><a id="page1"> Page 1</a></li>
              <li><a id="page2">Page 2</a></li>
              <li><a id="page3"> Page3</a></li>
              <li><a id="page4">Page 4</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <main class="content"></main>
      <footer>Hi, I am footer</footer>
    </div>
  </body>
</html>
