table {
  border: 1px solid black;
  background-color: beige;
}
td {
  border: 1px solid black;
}
.avatar img {
  /* width: 200px;
  height: 150px; */
  max-width: 100%;
}
.highlight {
  font-weight: bold;
}
